{{!-- generated using ember CLI `>ember generate component rental/image` --}}
{{!-- namespaced component '<Rental:Image>' --}}
<div class="image">
    {{!-- forwarding attributes using the "splattributes" syntax --}}
    <img ...attributes>
</div>