{{!-- specify common layout that is shared by every page here --}}
<div class="container">
    <NavBar />
    <div class="body">
        {{!-- place where the pages should be rendered --}}
        {{outlet}}
    </div>
</div>